/* styles/App.css */

html,
body {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  overflow: hidden;
  /* スクロールバーを非表示にする */
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
