/* styles/App.css */

body {
  box-sizing: border-box;
  /* その他必要な全体的なスタイルをここに記述 */
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
