.container {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  font-family: 'Roboto',
    sans-serif;
  font-family: 'Work Sans',
    sans-serif;
}

.leftSection {
  background-color: #4ad596;
  width: 33.33%;
  height: 100%;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightSection {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  width: 500px;
}

.header h1 {
  margin-bottom: 20px;
}

.logo {
  width: 100px;
  height: 90px;
  margin-top: -10px;
  margin-left: 10px;
}
