.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  height: auto;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 150px;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.feature {
  flex: 0 1 calc(50% - 40px);
  /* fill half of the row, minus margin */
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.description {
  font-size: 25px;
  text-align: center;
  width: 80%;
}

.icon {
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 768px) {
  .feature {
    flex: 0 1 calc(100% - 40px);
    /* fill the entire row, minus margin */
  }

  .title {
    font-size: 30px;
  }

  .description {
    font-size: 20px;
  }
}
