.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleImage {
  width: 100px;
  height: auto;
}

.titleText {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
}
